/*#region Universal setting */

:root {
    --color_background: 30, 30, 46;
    --color_class_1: 46, 46, 62;
    --color_class_2: 58, 61, 95;
    --color_text_main: 234, 234, 234;
    --color_text_additive: 161, 161, 161;

    --color_button_main: 59, 130, 246;
    --color_button_hover: 96, 165, 250;
    --color_button_inactive: 107, 114, 128;

    --color_input_main: 66, 68, 90;
    --color_input_hover: 90, 96, 117;
    --color_input_inactive: 107, 114, 128;

    --color_code_error: 248, 113, 113;
    --color_code_correct: 16, 185, 129;
    --color_code_variable_type: 96, 165, 250;
    --color_code_variable_string: 167, 243, 208;
    --color_code_variable_library: 249, 115, 22;
    --color_code_variable_key_words: 192, 132, 252;
}

* {
    font-family: 'JetBrains Mono', monospace;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(var(--color_background));
    color: rgb(var(--color_text_main));
}

canvas {
    top: 0px;

    display: block;
    position: absolute;
    z-index: -1;
}

.classField_1 {
    background-color: rgba(var(--color_class_1), 0.7);
    backdrop-filter: blur(15px);
    border-radius: 30px;

    padding: 10px;
}

.classField_2 {
    background-color: rgb(var(--color_class_2));
    backdrop-filter: blur(15px);
    border-radius: 30px;

    padding: 15px;
}

.inputField {
    background-color: rgb(var(--color_input_main));
    border-radius: 15px;
    border-color: #00000000;

    align-items: center;
    text-align: center;

    margin: 3px;
    padding: 4px;

    color: rgb(var(--color_text_main));

    transition: background-color 1s;
}

.inputField:focus {
    background-color: rgb(var(--color_input_hover));
    outline: none;

    transition: background-color 0.4s;
}

.inputField_disable {
    background-color: rgb(var(--color_input_inactive));
    border-radius: 15px;
    border-color: #00000000;

    align-items: center;
    text-align: center;

    margin: 3px;
    padding: 3px;

    color: rgb(var(--color_text_main));

    transition: background-color 1s;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button {
    background-color: rgb(var(--color_button_main));
    border-radius: 15px;
    border-color: #00000000;

    align-items: center;
    text-align: center;
    justify-content: center;

    margin: 3px;
    padding: 8px;

    color: rgb(var(--color_text_main));

    transform: scale(1, 1);

    transition: background-color 0.4s, transform 0.4s;
}

.button:hover {

    background-color: rgb(var(--color_button_hover));
    outline: none;

    transform: scale(1.15, 1.15);
}

.button_disable {
    background-color: rgb(var(--color_button_inactive));
    border-radius: 15px;
    border-color: #00000000;

    align-items: center;
    text-align: center;

    margin: 3px;
    padding: 3px;

    color: rgb(var(--color_text_main));

    transition: background-color 1s;
}

.universal_iconImage {
    width: min(10vw, min(10vh, 60px));
    height: min(10vw, min(10vh, 60px));
    padding: min(1vw, min(1vh, 6px));
}

.popUpBox {
    z-index: 10;

    background-color: rgb(var(--color_class_2));

    color: rgb(var(--color_text_main));

    width: 35vw;
    height: 50vh;

    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    align-items: center;
    align-content: center;
    text-align: center;

    padding: 10px;

    backdrop-filter: blur(0px);
}

.popUpBoxIcon {
    width: min(35vw, 35vh);
    height: auto;
    padding: 10px;
}

.popUpBoxButton {
    position: absolute;
    top: 1%;
    right: 1%;
    height: 25px;
    width: 30px;

    padding: 0px;

    color: rgb(var(--color_text_main));
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(var(--color_button_inactive));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--color_button_main));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--color_button_hover))
}

/*#endregion */

/*#region Index */

.index_classField {
    width: max(35vw, 300px);

    align-items: center;
    text-align: center;

    margin: 15px;

    transform: translateX(calc(50vw - 50% - 15px));
}

/*#endregion */

/*#region Admin */

.admin_organizer {
    height: calc(100vh - 20px);
    width: calc(100% - 0px);

    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 1fr 7fr;
    gap: 35px;
    row-gap: 35px 0px;
}

.admin_roomSettings {
    width: 100%;
    height: 100%;
    overflow: auto;

    border-radius: 0px;

    grid-row-start: 1;
    grid-row-end: 3;
}

.admin_listButtons {
    margin-left: 25px;
}

.admin_player_roomInfo {
    position: relative;

    align-self: center;
    width: calc(100% - 20px - 17.5px);

    text-align: center;
    align-content: center;
}

.admin_player_grid {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    overflow: auto;
}

.admin_player_playerIcon {
    width: max(100px, 20%);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin: 10px;
}

.admin_player_playerIcon_name {
    word-break: break-all;
    text-align: center;
}

.player_organizer {
    height: calc(100vh - 20px);
    width: calc(100% - 0px);

    display: grid;
    grid-template-rows: 1fr 7fr;
    gap: 35px;
}

.player_changeSkin {
    position: absolute;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    width: 24%;

    top: 15px;
    left: 15px;
}

/*#endregion */

/*#region Spectator */

.spectator_organizer {
    height: calc(100vh - 20px);
    width: calc(100% - 0px);

    display: grid;
    grid-template-rows: 1fr 7fr;
    gap: 35px;
    row-gap: 35px 0px;
}

.spectator_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 7px;
}

.spectator_playerIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: min(300px, calc(50%-4px));

    margin: 2px;
}

.spectator_playerIcon_name {
    word-break: break-all;
    text-align: center;
    margin: 0px;
}

.spectator_playerIcon_info {
    align-items: center;
    justify-content: center;
    text-align: center;

    height: min(300px, 50%);

    margin: 10px;
}

.spectator_progressCircle {
    width: 150px;
    height: 150px;

    background: conic-gradient(var(--progress-color) var(--percentage), rgb(var(--color_class_2)) 1%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(var(--color_text_main));

    margin: 2px;
}

.spectator_progressCircle::before {
    content: '';
    position: absolute;
    width: min(70%, calc(70% * (var(--ratio, 1))));
    aspect-ratio: 1 / 1;
    background: rgb(var(--color_class_1));
    border-radius: 50%;
}

.spectator_progressCircle_text {
    z-index: 1;
}

/*#endregion */

/*#region Choose Tasks */

.chooseTasks_organizer {
    height: calc(100vh - 20px);
    width: calc(100% - 0px);

    display: grid;
    grid-template-rows: 1fr 7fr;
    gap: 35px;
}

.chooseTasks_profileOrganizer {
    height: 100%;
    width: calc(100% - 20px);

    justify-content: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

.chooseTasks_playerCell {
    position: relative;

    display: table;
    margin: 0 auto;
    
    text-align: center;
    width: 75%;
}

.chooseTasks_cardOfTask {
    width: max(100px, 20%);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin: 10px;
}

.chooseTasks_listOfCards {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    overflow: auto;
}

.chooseTasks_fullTask {
    z-index: 10;

    background-color: rgba(var(--color_class_2), 0.99);

    width: 35vw;
    height: 50vh;

    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    align-content: center;
    text-align: center;

    padding: 10px;

    backdrop-filter: blur(0px);
}

/*#endregion */

/*#region Programming */

.programming_wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 6fr 5fr;
    grid-template-rows: 0.15fr 0.08fr 1fr 0.3fr;
    gap: 10px 7px;
}

.programming_topBar {
    grid-column-start: 1;
    grid-column-end: 3;

    width: 100%;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;

    top: 0;
    left: 0;
    padding: 0;
}

.programming_playerStats,
.programming_enemyStats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.programming_timer {
    padding: 30px;
}

.programming_editorField {
    grid-row-start: 2;
    grid-row-end: 4;

    grid-column-start: 2;
    grid-column-start: 2;

    width: 100%;
    height: 100%;

    right: 15px;
    top: 84px;

    padding: 0;
    padding-left: 10px;
    padding-left: 10px;
}

.programming_editor {
    width: 90%;
    height: 70%;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
    font-size: 9px;
}

.programming_submitButton {
    margin: 9px 15px 9px 9px;
}

.programming_tasksButtons {
    width: 100%;
    height: 100%;
    padding: 0;
}

.programming_result {
    grid-row-start: 4;
    grid-row-end: 4;

    grid-column-start: 2;
    grid-column-start: 2;

    align-items: center;
    align-content: center;

    overflow: auto;
    overflow-wrap: anywhere;

    padding: 0;
}

.programming_tasksField {
    grid-row-start: 3;
    grid-row-end: 5;

    padding: 5px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    line-height: 1;
    overflow-y: auto;
    overflow-wrap: anywhere;

    padding: 0;
    padding-left: 15px;
}

.programming_limits {
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    margin: -6px;
    width: auto;
}

.programming_examples {
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    overflow: auto;
}

/*#endregion */

/*#region Result */

.result_players {
    grid-column-start: 1;
    grid-column-end: 3;

    width: 100%;
    height: 100%;
    background: #333;
    color: white;
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;

    top: 0;
    left: 0;
}

.result_playerStats,
.result_enemyStats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 100px;
}

/*#endregion */


/* Color palette
Темна тема
    Фон: #1E1E2E
    Фон класів: #2E2E3E, #3A3D5F
    Основний текст: #EAEAEA
    Додатковий текст: #A1A1A1
    Кнопки:
        Звичайне: #3B82F6, 
        Наведена: #60A5FA, 
        Неактивна: #6B7280
    Поле вводу тексту:
        Звичайне: #42445A 
        Наведене: #5A6075
        Неактивне: #6B7280
    Редактор коду:
        Помилка: #F87171
        Правильно: #10B981
        Типи змінних: #60A5FA
        Рядки: #A7F3D0
        Бібліотеки: #F97316
        Ключові слова: #C084FC

Світла тема
    Фон: #F4F4F7
    Фон класів: #DCE2F0, #BBCDE5
    Основний текст: #222222
    Додатковий текст: #616161
    Кнопки:
        Звичайне: #A1B7E3, 
        Наведена: #B5C9EB, 
        Неактивна: #D8E4F6
    Поле вводу тексту:
        Звичайне: #D1D5DB
        Наведене: #A7B3C7
        Неактивне: #E0E5F0
    Редактор коду:
        Помилка – #E63946 (червоний)
        Правильно – #2ECC71 (зелений)
        Типи змінних – #007BFF (чистий синій)
        Рядки – #4CAF50 (салатовий зелений)
        Бібліотеки – #FFA500 (соковитий оранжевий)
        Ключові слова – #8A2BE2 (глибокий фіолетовий)
*/